@media (max-width: 875px)  {

	html, body, #container{
		width: 100%;
		overflow-x: hidden;
	}
	nav, #suivi-s{
	
		display: none;
	}
	.image-ombre{
	
		padding:0;
		margin:0;
		width: 100%;
		border-width: 1px;
	}
	#img1{
		height:0;
	}
	#header{
	
		margin-top:-100%;
	}
	#header:after {
		content:" Portfolio -- Rémi Collignon";
		background-color: #f57a06;
		position:fixed;
		width: 100%;

		padding: 3px;
		top:0;
	}
	#fichier{
		width: 2%;
		height:3% ;
	}
	#photo_profil{
		width: 80%;
		height: 5%;
	}
	#dl_zone, #parag1, #tagcloud{
		margin-left: 0;
	}
	#container{
		padding-top: 2%;
	}
	.projets li img {
		width: 20% !important;
		height: 5% !important;
	}
	#form{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#form form fieldset{
		width: 90%;
		margin: 0;
		padding: 0;
	}
	.grid li{
		margin:0 !important;
		height: 300px !important;
	}
	.cs-style-3 figcaption a{
		left: 20px !important;
	}
	.Slider{
		margin-left: -70px;

	}
	#git{
		padding:0;
	}
}
@media handleld{


}