article#trois( data-ng-controller="langCtrl")
    .ui.container
        .ui.six.column.grid.stackable
            .row
                h1 Compétences
                hr
                .ui.form
                    .inline.fields
                        label( for="catc") Catégories:
                        .field



                            .ui.radio.checkbox
                                input( name="catc" type="radio" ng-click="switchFilter()")
                                label Tout

                        .field( ng-repeat="competence in competences | unique:'cat'" )


                            .ui.radio.checkbox
                                input( name="catc" type="radio" ng-click="switchFilter(competence.cat)")
                                label {{competence.cat}}

            .row
                .column.myAnimate( data-ng-repeat="competence in competences | filter: catFilter | orderBy: ['cat', 'name']")
                    .ui.segment( class="center aligned" )
                        div( class="ui bottom attached label") {{competence.name}}
                        img( data-ng-src="img/lang/{{competence.logo}}" style="width: 100%")


    i.fa.fa-5x.fa-angle-double-down.next
