article#quatre
    .ui.container
        .ui.equal.width.relaxed.stackable.grid.verticaly.divided.inverted

            .column.middle.aligned
                .ui.vertical.menu.inverted

                    a.item( href="https://www.facebook.com/remi.collignon.d" target="_BLANK")
                        button.ui.circular.facebook.icon.button
                            i.fa.fa-facebook.fa-2x.icon
                        h4.ui.header.inverted Rémi Collignon

                    a.item( href="https://twitter.com/miton1810" target="_BLANK")
                        button.ui.circular.twitter.icon.button
                            i.fa.fa-twitter.fa-2x.icon
                        h4.ui.header.inverted miton1810

                    a.item( href="https://fr.linkedin.com/in/rémi-collignon-96459387" target="_BLANK" )
                        button.ui.circular.linkedin.icon.button
                            i.fa.fa-linkedin.fa-2x.icon
                        h4.ui.header.inverted Rémi Collignon

                    a.item( href="https://plus.google.com/+RémiColl/" target="_BLANK" )
                        button.ui.circular.google.plus.icon.button
                            i.fa.fa-google-plus.fa-2x.icon
                        h4.ui.header.inverted Rémi Coll

                    a.item( href="https://owncloud.rcdinfo.fr/index.php/s/zmX87quj0p44LwH" target="_BLANK" )
                        h4.block.centered CV
                        br
                        i.fa.fa-5x.fa-file-pdf-o.block.centered.blue


            .column.middle.aligned

                h3.ui.header.inverted.center
                    i.fa.fa-envelope.huge.icon
                    .content Laissez moi un message

                form( data-ng-controller="formCtrl" data-ng-submit="send()")

                    div
                        input( type="text" data-ng-model="name" ng-disabled="wait")
                        label Nom

                    div
                        input( type="email" data-ng-model="email" ng-disabled="wait")
                        label E-mail

                    div
                        textarea( type="text" data-ng-model="content" data-ng-disabled="wait")
                        label Message

                    div#antir
                        label Je suis un robot:
                            i.fa.fa-2x( data-ng-class="isRobot ? 'fa-thumbs-o-down' : 'fa-thumbs-o-up'")
                        .ui.buttons
                            button.ui.positive.button( type="button" data-ng-click="robot(false)") Non
                            .or(data-text="ou")
                            button.ui.button( type="button" data-ng-click="robot(true)") Oui

                    div
                        input.ui.inverted.blue.button( type="submit" value="Envoyer" ng-disabled="wait")

                    div
                        .ui.message( data-ng-repeat="info in infos" data-ng-class="info.type")
                            .header {{(info.type == 'success')? 'Tout est bon' : 'Il y a une erreur'}}
                            p {{info.txt}}

