article#quatre
    .ui.container
        .ui.two.column.grid
            .column
                .row
                    h3 FB
                .row
                    h3 twitter
                .row
                    h3 linked in
