article#un
            img.plax-head-img( src="img/moi_carre.png" alt="Photo de rémi" id="demiSlide")
            div
               h1 Rémi Collignon
               p “Etudiant de 4
                    sup ème &nbsp;
                    | année à l'
                    a.high( href="http://isen.fr" target="_BLANK") ISEN de Brest
                    | &nbsp; je me passionne pour l'informatique dans son ensemble. Mes compétences vont du
                    | développement de site web à la conception de cartes éléctroniques en passant par la mise en place de résaux.
                    | De nature très curieuse, j'aime relever des défis et apprendre de nouvelles technologies.”

            i.fa.fa-5x.fa-angle-double-down.next
