article#un
            div
                img( src="img/profile.png" alt="Photo de rémi")
            //img.plax-img( src="img/photo-blanche.png" alt="Photo de rémi")
            div
                h1 Rémi Collignon
                p “Etudiant de 4
                    sup ème &nbsp;
                    | année à l'
                    a( href="http://isen.fr" target="_BLANK") ISEN de Brest
                    | &nbsp; je me passionne pour l'informatique dans son ensemble. Mes compétences vont du
                    | développement de site web à la conception de cartes éléctroniques en passant par la mise en place de résaux.
                    | De nature très curieuse, j'aime relever des défis et apprendre de nouvelles technologies.”
            //pointbackground

            .next
                h3 Mes projets
