article#unBis( ng-controller="gitCtrl" )
    .ui
        .ui.cards.centered
            .ui.card.projet( ng-repeat="repo in repos" )
                .content
                    .header {{repo.name}}
                .content {{repo.description}}
                .content.extra
                    a.ui.button.black.left.floated( rel="lien github" ng-href="{{repo.html_url}}" ng-if="repo.html_url" target="_BLANK")
                        i.fa.fa-github
                    button.ui.button.primary( ng-class="{ 'hasWebsite': repo.homepage }" ) Détails
                    a.ui.button.black.right.floated( rel="lien projet" ng-href="{{repo.homepage}}" ng-if="repo.homepage" target="_BLANK")
                        i.fa.fa-globe
    button.ui.inverted.black.massive.button.next Mon parcours