article#deux
    //div( class="zoo" av-animation="slideInRight" style="background-color: yellow")
        p coucou
    .ui.grid.middle.aligned.container
        ul.timeline.five.column.wide
            li
                time.cbp_tmtime(datetime='2017-10-1')
                    span 2017
                .cbp_tmicon
                .cbp_tmlabel.zoo(av-animation="bounceInUp")

                    h2
                        i.fa.fa-graduation-cap.fa-2x
                        | [A venir] Formation d'ingénieur
                    p Obtention du diplôme d'ingénieur délivré par l'ISEN de Brest (cycle informatique et reseaux) avec spécialisation Génie logiciel.
                        .ui.inverted.segment
                            .ui.blue.teal.inverted.progress#progression
                                .bar
                                .progress
                                .label Avancée de ma formation à l'ISEN
            li
                time.cbp_tmtime(datetime='2015-01-1')
                    span 2015
                .cbp_tmicon
                .cbp_tmlabel.zoo(av-animation="bounceInUp")

                    h2
                        i.fa.fa-cloud.fa-2x
                        | Concours Cozy Cloud
                    p.
                        Concours remporté grâce à l'amélioration de l'application "Photo"
                        de la plateforme Cozy (ajout de la localisation de photos des utilisateurs sur une carte).
            li
                .cbp_tmicon
                .cbp_tmlabel.zoo(av-animation="bounceInUp")
                    h2
                        i.fa.fa-code.fa-2x
                        | Club éléctronique
                    p Présisdent du clubElec de l'ISEN.
            li
                .cbp_tmicon
                .cbp_tmlabel.zoo(av-animation="bounceInUp")

                    h2
                        i.fa.fa-users.fa-2x
                        | Startup Weekend
                    p Developpeur dans l'équipe Smartkit, le coup de coeur du jury&nbsp;
                    a.ui.button.primary( rel="Startup weekend" href="http://www.septjoursabrest.fr/2015/02/04/startup-weekend-petites-boites-grandes-idees/") Lien de l'évenement

            li
                time.cbp_tmtime(datetime='2014-06-1')
                    span 2014
                .cbp_tmicon
                .cbp_tmlabel.zoo(av-animation="bounceInUp")

                    h2
                        i.fa.fa-cog.fa-2x
                        | Stage technique chez Vignal Systems
                    .ui.two.column.grid.internally.celled.stackable.centered
                        .twelve.wide.column
                            p Développement sur ERP SilverCS 10 à Vignal Systems (Vénissieux)
                                br
                                | Génération d’états / upgrade d’applications (Microsoft Access vers ERP)
                                br
                                ul
                                    li Conception de la base de données
                                    li Développement de l'application sur l’Intranet
                                    li Mise en production / adaptation aux rapports de bugs
                                    li Recoder une application d’Access 2003 sous SivlerCS10
                        .four.wide.column.center.aligned
                            a( href="img/ressources/stage-cir2.pdf" download )
                                i.fa.fa-5x.fa-file-pdf-o
                            div
                                small Evaluation de stage
            li
                time.cbp_tmtime(datetime='2014-06-1')
                .cbp_tmicon
                .cbp_tmlabel.zoo(av-animation="bounceInUp")

                    h2
                        i.fa.fa-graduation-cap.fa-2x
                        | Certification CISCO
                    .ui.column.grid.internally.celled.stackable.centered
                        .twelve.wide.column
                            p.
                                Formation aux certifications CISCO CCNA 1-2-3-4
                                sur la droite, les certifications et la
                        //.four.wide.column(style="display:inline-block")
                        .row.three.column
                            div.column.center.aligned
                                a( href="img/ressources/CCNA1.jpg" target="_BLANK")
                                    i.fa.fa-3x.fa-file-pdf-o.red
                                div
                                    small CCNA1
                            div.column.center.aligned
                                a( href="img/ressources/CCNA2.jpg" target="_BLANK")
                                    i.fa.fa-3x.fa-file-pdf-o.red
                                div
                                    small CCNA2
                            div.column.center.aligned
                                a( href="img/ressources/ciscoL.jpg" target="_BLANK")
                                    i.fa.fa-3x.fa-file-pdf-o.red
                                div
                                    small Lettre de recommandation
    button.ui.inverted.black.massive.button.next Mes compétences