@import "font/font-awesome-4.4.0/scss/font-awesome.scss"
// Copy font files into fonts in build

$orange:         #d04800

*, *::before, *::after
    box-sizing: border-box

article
    height: 6000px

.svg-loader
    background-color: #141414
    position:   fixed
    width:      100%
    height:     100%
    z-index:    9999
    margin:     0 !important

    h2
        color: $orange
