@import "mixins.sass"
@import "variables.sass"
@import "timeline.sass"

*, *::before, *::after

    box-sizing: border-box

body
    background-color:   $bleu

    article
        position:       relative
        display:        flex
        align-items:    center
        margin-bottom:  14px
        
        .next
            position: absolute
            display: block   
            color: white
            bottom: 0
            h3
                position: relative

        &#un
            position:           relative
            background-color:   $noir
                
            div
                display:    inline-block
                font-size:  1.5em
                width:      45%
                color:      $bleu
                text-shadow: 0 0 2px black
                text-align: center
                
                img 
                    width:          80%
                    border:         10px solid $bleu
                    border-radius:  100%
                    box-shadow: 0 0 5px 1px black
                
                a
                    color:           $bleu + 10
                    font-weight:     bold
                    text-decoration: underline
        &#unBis
            height: auto !important

            button
                width: 50%

        &#deux
            background-color: $noir
            height: auto !important

            h2 i
                vertical-align: middle
                padding-right:  10px

            a i::before
                color: $noir


            @include phone

                .cbp_tmlabel
                    width:  100%
                    margin: 30px 0

                .cbp_tmicon
                    display: none

                .cbp_tmtime
                    z-index:        999
                    width:          100%
                    padding-right:  15px

                    span
                        color: $noir
        &#trois
            background-color:   $bleu
            height:             auto !important
            margin:             auto
            margin-bottom: 3rem
            
            .column.myAnimate
                padding: 0
                margin: 0.5rem
                

        &#quatre

            background-color:   $noir
            margin-bottom:      0

            h4
                display: inline-flex

            div.ui
                height: 100%

                .vertical.menu.inverted
                    @include tablet
                        width:      100%
                        text-align: center

                .grid.verticaly.divided.inverted
                    margin-bottom: 0 !important
                form
                    margin: auto 0

                    &.ui.loading.form:before
                        background-color:   rgba(0, 0, 255, 0.24)
                        box-shadow:         0 0 10px 20px rgba(0, 0, 255, 0.24)
                    div.form
                        position:       relative
                        width:          100%
                        margin-top:     10%
                        margin-bottom:  10%

                        input:not([type="submit"])
                            background-color: transparent
                            color: $bleu
                            width: 100%
                            @include bottom-border(white)
                            outline: none

                            &:focus, &.notEmpty /* input:focus */
                                @include bottom-border($bleu)

                                & + label
                                    color:  $bleu
                                    bottom:    2rem
                                    transition-duration: 0.5s

                            & ~ label /*label de l'input correspondant*/
                                position:   absolute
                                bottom:     0.5rem
                                left:       0.2rem
                                color:      white
                                transition-duration: 0.5s
                        textarea
                            width: 100%
                            min-height: 12rem
                            resize: none
                            background-color: $noir
                            color: $bleu
                            font-size: 1.3em
                            outline: none
                            @include bottom-border(white)

                            &:focus, &.notEmpty
                                @include bottom-border($bleu)
                                & + label
                                    color: $bleu
                                    top: -1.5rem
                                    transition-duration: 0.5s
                            & ~ label /*label du textarea*/
                                position: absolute
                                left: 0.2rem
                                top: 3rem
                                margin: auto
                                color: white
                                transition-duration: 0.5s
                    #antir
                        margin-bottom: 6rem

                        label
                            color: white
                            vertical-align: middle

                            i
                                padding-left: 3rem

                        .ui.buttons
                            width: auto
                            height: auto
                            margin: auto
                            float: right

                    .ui.blue
                        top: 3rem
                        width: 100%

                a.item
                    i.blue:before
                        color: $bleu

i
    &.fa
        &:before
            font-family: 'fontAwesome'   

// Loader before show the site
.load
    position:   fixed
    width:      100%
    height:     100%
    z-index:    9999
    margin:     0 !important
    background-color: $noir

    h2
        color: $bleu
        text-shadow: 1px 1px 3px $noir
    i
        color: $bleu
        text-shadow: 1px 1px 3px $noir
