doctype html
html
    head
        title Rémi Collignon
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible" content="IE=edge" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        // CSS
        link( rel="stylesheet" type="text/css" media="all" href="css/vendor.css" )
        link( rel="stylesheet" type="text/css" media="all" href="css/all.css" )
        // FAVICON
        link( rel="icon" type="image/icon" href="img/favicon.ico" )


    body
        .load( class="ui three column centered grid")
            .row
                div( style="margin:auto")

                    i( class="fa fa-cog fa-spin fa-5x")
                    i( class="fa fa-cog fa-spin fa-2x reverse")
                    h2 Nous procédons au chargement de votre ingénieur
        .nav
            button.ui.inverted.red.button
                i.fa.fa-at

        article#un
            img.plax-head-img( src="img/moi_carre.png" alt="Photo de rémi" id="demiSlide")
            div
                h1 Qui suis-je?
                p “Etudiant de 4
                    sup ème &nbsp;
                    | année à l'&nbsp;
                    a( href="http://isen.fr" target="_BLANK") ISEN de Brest
                    | &nbsp; je me passionne pour l'informatique dans son ensemble. Mes compétences vont du
                    | développement de site web à la conception de cartes éléctroniques en passant par la mise en place de résaux.
                    | De nature très curieuse, j'aime relever des défis et apprendre de nouvelles technologies.”

            i( class="fa fa-map-signs fa-5x next")


        article#deux
            //div( class="zoo" av-animation="slideInRight" style="background-color: yellow")
                p coucou
            .ui.grid.middle.aligned.zoo(av-animation="slideInRight")
                ul.timeline.five.column.wide
                    li
                        time.cbp_tmtime(datetime='2017-10-1')
                            span 2017
                        .cbp_tmicon
                        .cbp_tmlabel
                            h2 [à venir] Formation d'ingénieur
                            p Obtention du diplome délivré par l'ISEN de Brest (cycle informatique et reseaux)
                    li
                        time.cbp_tmtime(datetime='2015-01-1')
                            span 2015
                        .cbp_tmicon
                        .cbp_tmlabel
                            h2 Concour Cozy Cloud
                            p.
                                Concour remporter grace à l'amélioration de l'application Photo
                                de la plateforme Cozy (ajout de la localisation de photos des utilisateurs sur une carte)
                    li
                        //time.cbp_tmtime(datetime='2013-04-11T12:04')
                            span 2014
                        .cbp_tmicon
                        .cbp_tmlabel
                            h2 Startup Weekend
                            p.
                                http://www.septjoursabrest.fr/2015/02/04/startup-weekend-petites-boites-grandes-idees/
                    li
                        time.cbp_tmtime(datetime='2013-04-13 05:36')
                            span 2013
                        .cbp_tmicon
                        .cbp_tmlabel
                            h2 Sprout garlic kohlrabi
                            p Parsnip lotus root...


            i( class="fa fa-arrow-circle-down fa-5x next")

        article( style="background-color: #190c8b;")    
            div( class="ui top attached tabular menu")
                div( class="active item") Tab
                    div( class="ui bottom attached active tab segment")
                        p test
            i( class="fa fa-arrow-circle-down fa-5x next")

        article( style="background-color: #8b380c;")
            p test
        
        script( rel="text/javascript" src="vendor.js" )
        script( rel="text/javascript" async="true" src="all.js" )
