doctype html
html
    head
        title Rémi Collignon
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible" content="IE=edge" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        // CSS
        link( rel="stylesheet" type="text/css" media="all" href="css/vendor.css" )
        link( rel="stylesheet" type="text/css" media="all" href="css/all.css" )
        // FAVICON
        link( rel="icon" type="image/icon" href="img/favicon.ico" )


    body
        .load( class="ui three column centered grid")
            .row
                div( style="margin:auto")

                    i( class="fa fa-cog fa-spin fa-5x")
                    i( class="fa fa-cog fa-spin fa-2x reverse")
                    h2 Nous procédons au chargement de votre ingénieur
        .nav
            button.ui.red.inverted.button
                i.fa.fa-envelope-o

        views = ["intro", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
        each view in views
            include "./view/" + view + ".jade"


        article#deux
            //div( class="zoo" av-animation="slideInRight" style="background-color: yellow")
                p coucou
            .ui.grid.middle.aligned.container.zoo(av-animation="slideInRight")
                ul.timeline.five.column.wide
                    li
                        time.cbp_tmtime(datetime='2017-10-1')
                            span 2017
                        .cbp_tmicon
                        .cbp_tmlabel.zoo(av-animation="bounceInUp")

                            h2 [à venir] Formation d'ingénieur
                            p Obtention du diplome d'ingénieur délivré par l'ISEN de Brest (cycle informatique et reseaux).
                    li
                        time.cbp_tmtime(datetime='2015-01-1')
                            span 2015
                        .cbp_tmicon
                        .cbp_tmlabel.zoo(av-animation="bounceInUp")

                            h2 Concour Cozy Cloud
                            p.
                                Concour remporté grâce à l'amélioration de l'application "Photo"
                                de la plateforme Cozy (ajout de la localisation de photos des utilisateurs sur une carte).
                    li
                        //time.cbp_tmtime(datetime='2013-04-11T12:04')
                            span 2014
                        .cbp_tmicon
                        .cbp_tmlabel.zoo(av-animation="bounceInUp")

                            h2 Startup Weekend
                            p Developpeur dans l'équipe Smartkit, le coup de coeur du jury&nbsp;
                                a.high( href="http://www.septjoursabrest.fr/2015/02/04/startup-weekend-petites-boites-grandes-idees/") Lien de l'évenement.

                    li
                        time.cbp_tmtime(datetime='2014-06-1')
                            span 2014
                        .cbp_tmicon
                        .cbp_tmlabel.zoo(av-animation="bounceInUp")

                            h2 Stage technique chez Vignal Systems
                            .ui.two.column.grid.internally.celled.stackable.centered
                                .twelve.wide.column
                                    p Développement sur ERP SilverCS 10 à Vignal Systems (Vénissieux)
                                        br
                                        | Génération d’états / upgrade d’applications (Microsoft Access vers ERP)
                                        br
                                        ul
                                            li Conception de la base de données
                                            li Développement de l'application sur l’Intranet
                                            li Mise en production / adaptation aux rapports de bugs
                                            li Recoder une application d’Access 2003 sous SivlerCS10
                                .four.wide.column
                                    a( href="img/ressources/stage-cir2.pdf" download )
                                        i.fa.fa-5x.fa-file-pdf-o
                                    div
                                        small Evaluation de stage
                    li
                        time.cbp_tmtime(datetime='2014-06-1')
                        .cbp_tmicon
                        .cbp_tmlabel.zoo(av-animation="bounceInUp")

                            h2 Certification CISCO
                            .ui.two.column.grid.internally.celled.stackable.centered
                                .twelve.wide.column
                                    p.
                                        Formation aux certifications CISCO CCNA 1-2-3-4
                                        sur la droite, les certifications et la
                                .four.wide.column(style="display:inline-block")
                                    div
                                        a( href="img/ressources/CCNA1.jpg" target="_BLANK")
                                            i.fa.fa-3x.fa-file-pdf-o.red
                                        div
                                            small CCNA1
                                    div
                                        a( href="img/ressources/CCNA2.jpg" target="_BLANK")
                                            i.fa.fa-3x.fa-file-pdf-o.red
                                        div
                                            small CCNA2
                                    div
                                        a( href="img/ressources/ciscoL.jpg" target="_BLANK")
                                            i.fa.fa-3x.fa-file-pdf-o.red
                                        div
                                            small Lettre de recommandation



            i.fa.fa-5x.fa-angle-double-down.next

        article#trois
            .zoo(av-animation="bounceInUp")
                h2 test

            i.fa.fa-5x.fa-angle-double-down.next

        article( style="background-color: #8b380c;")
            p test
        
        script( rel="text/javascript" src="vendor.js" )
        script( rel="text/javascript" async="true" src="all.js" )
