doctype html
html
    head
        title My index
        link( href="all.css" rel="stylesheet" type="text/css" media="all")

    body
        article( style="background-color: rgba(255, 109, 1, 0.88);")
            h1 test
            div( class="ui grid three column divided centered" )
                div( class="row" )
                    div( class="column four wide" )
                        p test
                    div( class="column four wide" )
                        p test
                    div( class="column four wide" )
                        p test
            button( class="next") next
        article( style="background-color: #8b380c;")    
            p test
            button( class="next") next
        article( style="background-color: #190c8b;")    
            p test
        
        script( src="vendor.js" rel="text/javascript")
        script( src="all.js" rel="text/javascript" async="true")
