doctype html
html
    head
        title Rémi Collignon
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible" content="IE=edge" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        // CSS
        link( rel="stylesheet" type="text/css" media="all" href="css/vendor.css" )
        link( rel="stylesheet" type="text/css" media="all" href="css/all.css" )
        // FAVICON
        link( rel="icon" type="image/icon" href="img/favicon.ico" )

        script( rel="text/javascript" src="vendor.js" )
        script( rel="text/javascript" src="all.js" )


    body( data-ng-app="app" )
        .load( class="ui three column centered grid")
            .row
                div( style="margin:auto")

                    i( class="fa fa-cog fa-spin fa-5x")
                    i( class="fa fa-cog fa-spin fa-2x reverse")
                    h2 Nous procédons au chargement de votre ingénieur
        .nav
            div
                a(href="#quatre")
                    i( class="fa fa-envelope fa-3x")
        include view/intro.jade
        include view/timeline.jade
        include view/comp.jade
        include view/contact.jade

