doctype html
html
    head
        title Rémi Collignon
        meta( charset="utf-8" )
        meta( http-equiv="X-UA-Compatible" content="IE=edge" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        // CSS
        link( rel="stylesheet" type="text/css" media="all" href="css/vendor.css" )
        link( rel="stylesheet" type="text/css" media="all" href="css/all.css" )
        // FAVICON
        link( rel="icon" type="image/icon" href="favicon.ico" )


    body
        .svg-loader( class="ui three column centered grid")
            .row
                div(class="ui" style="margin:auto")

                    i( class="fa fa-cog fa-spin fa-5x")
                    i( class="fa fa-cog fa-spin fa-2x reverse")
                    h2 Nous procédons au chargement de votre ingénieur

        article#un
            div( class="ui two column grid nomargin" )
                div( class="one column nopadding" )
                    img( src="img/remi.jpg" alt="Photo de rémi" id="demiSlide")
                div( class="one column" )
                    h1 Qui suis-je?
            i( class="fa fa-map-signs fa-5x next")

        article#deux
            h2 Mon parcours
            div( class="zoo" av-animation="slideInRight" style="background-color: yellow")
                p coucou
            i( class="fa fa-arrow-circle-down fa-5x next")

        article( style="background-color: #190c8b;")    
            div( class="ui top attached tabular menu")
                div( class="active item") Tab
                    div( class="ui bottom attached active tab segment")
                        p test
            i( class="fa fa-arrow-circle-down fa-5x next")

        article( style="background-color: #8b380c;")
            p test
        
        script( rel="text/javascript" src="vendor.js" )
        script( rel="text/javascript" async="true" src="all.js" )
